main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.caixa {
    background-color: rgba(0, 0, 0, 0.246);
    width: 400px;

    border: 2px solid #000;
    border-radius: 20px;
    margin-bottom: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.caixa input {
    width: 300px;
    height: 30px;
}
main h2 {
    font-size: 40px;
    color:#001b44;
    margin-bottom: 20px;
}
.botoes {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.botoes a {
    color: #fff;
    border: 1px solid #000;
    border-radius: 20px;
    text-decoration: none;
    width: 300px;
    height: 30px;
    margin-top: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.a-excluir {
    background-color: red;
    margin-bottom: 10px;
}
.a-abrir {
    background-color: grey;
}
.caixa div {
    margin-top: 20px;
}
.a-voltar {
    background-color: #001b44;
}
