nav a {
    text-decoration: none;
    color: #001b44;
    margin-left: 30px;
    font-size: max(16px, 2vw);
}
nav a:hover {
    text-decoration: underline;
}
@media screen and (max-width: 400px) {
    nav {
        display: flex;
        flex-direction: column;
    }
    nav a {
        margin-bottom: 20px;
    }
}
