{% extends "base.html" %}   

{% block link %}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/atualizar.css") }}">
{% endblock %}

{% block conteudo %}
    <main>
        <h2>Atualizar Dados</h2>

        <div class="caixa">
            <form action="" method="POST" enctype="multipart/form-data">
                <div>
                    <h3>Nome</h3>
                    <input type="text" name="nome" value="{{ pessoa.nome }}">
                </div>
                
                <div>
                    <h3>Telefone</h3>
                    <input type="text" name="telefone" value="{{ pessoa.telefone }}">
                </div>

                <div>
                    <h3>CPF</h3>
                    <input type="text" name="cpf" value="{{ pessoa.cpf }}">
                </div>

                <div>
                    <h3>E-mail</h3>
                    <input type="text" name="email" value="{{ pessoa.email }}"">
                </div>

                <div>
                    <h3>Identidade</h3>
                    <input type="file" name="identidade">
                </div>
                
                <div class="botoes">
                    <input type="submit" value="Atualizar Dados">
                    <a href="{{ url_for("lista") }}">Voltar</a>
                </div>
            </form>
        </div>
    </main>
{% endblock %}
