{% extends "base.html" %}

{% block link %}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/cadastro.css") }}">
{% endblock %}

{% block conteudo %}
    <main>
        <h2>Página de Cadastro</h2>
        <div class="caixa"> 
            <form action="{{ url_for("cadastro") }}" method="POST" enctype="multipart/form-data">
                <div>
                    <h3>Nome</h3>
                    <input type="text" name="nome" placeholder="Digite o Nome">
                </div>

                <div>
                    <h3>Idade</h3>
                    <input type="text" name="idade" placeholder="Digite a Idade">
                </div>

                <div>
                    <h3>Peso</h3>
                    <input type="text" name="peso" placeholder="Digite o Peso">
                </div>

                <div>
                    <h3>Altura</h3>
                    <input type="text" name="altura" placeholder="Digite a Altura">
                </div>

                <div>
                    <h3>Faixa</h3>
                    <input type="text" name="faixa" placeholder="Digite a Cor da Faixa">
                </div>

                <div>
                    <h3>Grau</h3>
                    <input type="text" name="grau" placeholder="Digite a Quantidade de Graus">
                </div>

                <div>
                    <h3>Telefone</h3>
                    <input type="text" name="telefone" placeholder="Digite o Telefone">
                </div>

                <div>
                    <h3>CPF</h3>
                    <input type="text" name="cpf" placeholder="Digite o CPF">
                </div>

                <div>
                    <h3>E-mail</h3>
                    <input type="text" name="email" placeholder="Digite o E-mail">
                </div>

                <div>
                    <h3>Identidade</h3>
                    <input type="file" name="identidade">
                </div>

                <div class="botoes">
                    <input type="submit" value="Cadastrar">
                    <a href="/">Voltar</a>
                </div>
            </form>
        </div>
    </main>
{% endblock %}
