{% extends "base.html" %}   

{% block link %}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/lista.css") }}">
{% endblock %}

{% block conteudo %}
    <main>
        <h2>Lista de Alunos</h2>
        <a href="/" class="a-voltar">Voltar</a>
        
        <section>
            {% for pessoa in pessoas: %}
                <div class="lista">
                    <a href="/aluno/{{ pessoa._id }}" class="aluno">{{ pessoa.nome }}</a>
                    <a href="/diario/{{ pessoa._id }}">
                        <img src="{{ url_for("static", filename="img/diario.png") }}" alt="diário" class="img-mini">
                    </a>
                    <hr>
                </div>
            {% endfor %}
        </section>
    </main>

{% endblock %}
