{% extends "base.html" %}

{% block link%}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/login.css") }}">
{% endblock %}

{% block conteudo %}
    <main>
        <h2>Página de Login</h2>
        
        <form action='login' method='POST'>
            <div class="caixa">
                <div>
                    <p><b>E-mail</b></p>
                    <input type='text' name='email' id='email' placeholder='E-mail'/>
                </div>
                <div>
                    <p><b>Senha</b></p>
                    <input type='password' name='password' id='password' placeholder='Senha'/>
                </div>
                <input type='submit' name='submit' id="submit" value="Abrir"/>
            </div>
        </form>
    </main>
{% endblock %}
